/* main */
.m-cont {
  margin-bottom: 80px;
}

.col {
  width: 100%;
  justify-content: center;
  align-items: center;
  border: none;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.button {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main button {
  width: 300px;
}

hr {
  margin: 20px 0;
  width: 50%;
}

.mail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  color: var(--blu);
}

input {
  padding: 10px;
}
